<div>
    <mat-toolbar color="primary" class="topbar telative">
        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->
     <div fxShow="true" fxHide.gt-sm="true" class="navbar-brand">
      <button mat-icon-button (click)="sidenav.toggle()">
        <span><img src="assets/images/home/logo.png" alt="homepage" class="light-logo"></span>
      </button>
    </div>

    <a mat-button class="navbar-header" routerLink="/home/header">
      <img src="assets/images/home/text.png" class="light-logo" alt="homepage">
    </a>
        <!-- ============================================================== -->
        <!-- Componentes de menu -->
        <!-- ============================================================== -->
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button routerLink="/home/header">Inicio</button>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button routerLink="/home/information">Nosotros</button>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button [matMenuTriggerFor]="menu" routerLink="/home/products">Nuestros Servicios</button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/home/products">Arrendamientos</button>
                <button mat-menu-item routerLink="/home/products">Ventas</button>
                </mat-menu>        
        </div>
        <span fxFlex></span>
        <!-- ============================================================== -->
        <!-- app header component - style you can find in header.scss / header.component.ts-->
        <!-- ============================================================== -->
        <a *ngIf="!loginStatus" class=" m-r-20 hidden-sm-up" mat-raised-button color="primary" fxShow="true" fxHide.lt-md="true" routerLink="/session/login">Login</a>
        <a *ngIf="!loginStatus" class=" m-r-20 hidden-sm-up" mat-raised-button color="primary" fxShow="true" fxHide.lt-md="true" routerLink="/session/register">Registrarse</a>
        <button *ngIf="loginStatus" [matMenuTriggerFor]="profile" mat-icon-button class="m-r-5"> <img src="assets/images/users/1.jpg" alt="user" class="profile-pic"> </button>
            <mat-menu #profile="matMenu" class="mymegamenu">
                <button mat-menu-item>
                  <mat-icon>settings</mat-icon> Preferencias </button>
                <button mat-menu-item>
                  <mat-icon>account_box</mat-icon> Perfil </button>
                <button routerLink="/admin/modules/customers" mat-menu-item>
                  <mat-icon>notifications_off</mat-icon> No Molestar </button>
                <button routerLink="/session/logout" mat-menu-item>
                <mat-icon >exit_to_app</mat-icon> Salir </button>
            </mat-menu>
    </mat-toolbar>
    
<mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/home/header">Inicio</a>
        <a mat-button routerLink="/home/information">Nosotros</a>
        <a mat-button routerLink="/home/products">Nuestros Servicios</a>
        <a *ngIf="!loginStatus" mat-button routerLink="/session/login">Login</a>
        <a *ngIf="!loginStatus"mat-button routerLink="/session/register">Registrarse</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
               
