<div>
    <mat-toolbar color="primary" class="topbar telative">
        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->
     <div fxShow="true" fxHide.gt-sm="true" class="navbar-brand">
      <button mat-icon-button (click)="sidenav.toggle()">
        <span><img src="assets/images/home/logo.png" alt="homepage" class="light-logo"></span>
      </button>
    </div>

    <a mat-button class="navbar-header" href="/">
      <img src="assets/images/home/text.png" class="light-logo" alt="homepage">
    </a>
        <!-- ============================================================== -->
        <!-- Componentes de menu -->
        <!-- ============================================================== -->
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button routerLink="/">Inicio</button>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button routerLink="/information">Nosotros</button>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button [matMenuTriggerFor]="menu" routerLink="/products">Nuestros Servicios</button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item routerLink="/products">Arrendamientos</button>
                <button mat-menu-item routerLink="/products">Ventas</button>
                </mat-menu>        
        </div>
        <span fxFlex></span>
        <!-- ============================================================== -->
        <!-- app header component - style you can find in header.scss / header.component.ts-->
        <!-- ============================================================== -->
        <a href="/" class=" m-r-20 hidden-sm-up" mat-raised-button color="primary" fxShow="true" fxHide.lt-md="true" routerLink="/login">Login</a>
        <a href="/" class=" m-r-20 hidden-sm-up" mat-raised-button color="primary" fxShow="true" fxHide.lt-md="true" routerLink="/register">Registrarse</a>
    </mat-toolbar>
    
<mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/">Inicio</a>
        <a mat-button routerLink="/informacion">Nosotros</a>
        <a mat-button routerLink="/products">Nuestros Servicios</a>
        <a mat-button routerLink="/login">Login</a>
        <a mat-button routerLink="/register">Registrarse</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
               
