<!-- ============================================================== -->
<!-- app navbar component - style you can find in navbar.scss / header.component.ts-->
<!-- ============================================================== -->
<app-home-navbar></app-home-navbar>

<!-- ============================================================== -->
<!-- ruta con informacion - style you can find in essets.scss -->
<!-- ============================================================== x-->

<router-outlet></router-outlet>

<!-- ============================================================== -->
<!-- Footer - style you can find in footer.scss -->
<!-- ============================================================== x-->
            
<app-home-footer></app-home-footer>
               
