<div>
    <mat-toolbar color="primary" class="topbar telative">
        <!-- ============================================================== -->
        <!-- Logo - style you can find in header.scss -->
        <!-- ============================================================== -->
     <div fxShow="true" fxHide.gt-sm="true" class="navbar-brand">
      <button mat-icon-button (click)="sidenav.toggle()">
        <span><img src="assets/images/logo-light-icon.png" alt="homepage" class="light-logo"></span>
      </button>
    </div>

    <a mat-button class="navbar-header" href="/">
      <img src="assets/images/logo-light-text.png" class="light-logo" alt="homepage">
    </a>
        <!-- ============================================================== -->
        <!-- Componentes de menu -->
        <!-- ============================================================== -->
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button>Inicio</button>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button>Nosotros</button>
        </div>
        <div fxShow="true" fxHide.lt-md="true">
            <button mat-button [matMenuTriggerFor]="menu">Nuestros Servicios</button>
                <mat-menu #menu="matMenu">
                <button mat-menu-item>Arrendamientos</button>
                <button mat-menu-item>Ventas</button>
                </mat-menu>        
        </div>
        <span fxFlex></span>
        <!-- ============================================================== -->
        <!-- app header component - style you can find in header.scss / header.component.ts-->
        <!-- ============================================================== -->
        <a href="/" class=" m-r-20 hidden-sm-up" mat-raised-button color="primary" fxShow="true" fxHide.lt-md="true">Login</a>
        <a href="/" class=" m-r-20 hidden-sm-up" mat-raised-button color="primary" fxShow="true" fxHide.lt-md="true">Registrarse</a>
    </mat-toolbar>
    
<mat-sidenav-container fxFlexFill class="example-container">

    <mat-sidenav color="primary" #sidenav fxLayout="column" mode="over"  opened="false" fxHide.gt-sm="true">
      <div fxLayout="column">
        <a mat-button routerLink="/about-us">Inicio</a>
        <a mat-button routerLink="/prices">Nosotros</a>
        <a mat-button routerLink="/start-page">Nuestros Servicios</a>
        <a mat-button routerLink="/offer">Login</a>
        <a mat-button routerLink="/contact">Registrarse</a>
      </div>
    </mat-sidenav>
    <mat-sidenav-content fxFlexFill>
      Awesome content
    </mat-sidenav-content>
</mat-sidenav-container>
</div>
               
